@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../font/Montserrat.woff2') format('woff2');
}


/* INIT ELEMENTS  */

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	margin: 0;
}

h1,
h4 {
	color: #fff;
	font-weight: normal;
}

h2 {
	color: #7f7f7f;
	margin-top: 40px;
}

h5 {
	color: #8158c5;
	margin: 0;
}

a {
	text-decoration: none;
}

a:focus,
button:hover {
	outline: 0;
}

p {
	color: #fff;
	font-size: .7rem;
}

ul {
	list-style: none;
	padding: 0;
}

button {
	cursor: pointer;
}

center button {
	margin-top: 2rem;
}

del {
	font-size: .8rem;
	color: #8a8a8a;
	font-weight: lighter;
}


/* CONTAINER */

.container {
	width: 100%;
	max-width: 1170px;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
}

.container h2 {
	text-align: center;
}

.container .col {
	display: inline-grid;
	justify-content: center;
}


/* HEADER */

#header {
	width: 100%;
	height: 6.5rem;
	position: fixed;
	background-color: #fff;
	z-index: 1010;
}

#header .container {
	padding: 1rem 0;
}


/* NAV-BAR */

.nav .container {
	padding: 0!important;
}

.nav {
	width: 100%;
	height: 45px;
	background-color: #8158c5;
}

.nav ul li {
	position: relative;
	float: left;
	padding: .8rem 0;
	transition: ease-in-out 0.3s;
}

.nav ul a {
	text-decoration: none;
	color: #fff;
	padding: .8rem 1rem;
	transition: ease-in-out 0.3s;
}

.nav ul a:hover {
	color: #8158c5;
}

.nav ul li:hover {
	background-color: #ffa200;
}

.nav ul li:hover>ul.dropdown,
.nav ul li:hover>.sub-dropdown {
	display: flex;
	flex-direction: column;
}

.search-bar {
	border: none;
	padding-left: .7rem;
	height: 2rem;
}

.search-bar:focus {
	outline: none;
}

.submit-search {
	padding: .4rem .5rem .3rem 0;
}

#search {
	border: .01rem solid #ccc;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}


/* CAROUSEL */

#carousel {
	padding-top: 9.2rem;
	height: 498px;
	overflow: hidden;
}

#carousel img {
	object-position: -32rem;
}


/* QUICK MENU */

#quick-menu {
	background-color: #ffa200;
	padding: 1rem 0;
}

#quick-menu .container .col-3 {
	display: inline;
	justify-content: space-between;
	align-items: center;
}


/* SLIDER */

.slide-control {
	text-align: center;
}

.slide-control img {
	padding: 0 2.8rem;
}

.slide-control #ellipse {
	padding: .6rem .4rem;
}

.slide-control button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.slide-control button {
	outline: none;
}

.slick-ui {
	border: 0;
	background: transparent;
	text-transform: uppercase;
	padding: 1rem 1rem;
}

.ellipse {
	border: 0;
	background: transparent;
	text-transform: uppercase;
	padding: .5rem .3rem;
}

.ellipse:focus,
.slick-ui:focus {
	outline: 0;
}


/* STORE CART */

#login-cart {
	position: relative;
}

#login-cart ul li {
	display: inline-flex;
}

.login-drop {
	display: none;
	position: absolute;
	top: 3rem;
	width: 8rem;
	right: 3rem;
	background-color: #fff;
	border: .05rem solid #dadada;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	transition: ease-in-out 0.3s;
	z-index: 11;
}

ul.login-drop a {
	color: #000;
	padding: .5rem .6rem;
	text-decoration: none;
	transition: ease-in-out 0.25s;
	width: 100%;
	display: inline-block;
	padding: 0.8rem;
}

ul.login-drop a:hover {
	color: #fff;
	background-color: #7f7f7f;
}

#login-cart ul li:hover>ul.login-drop {
	display: flex;
	flex-direction: column;
}

#content {
	width: 100%;
	max-width: 340px;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	padding: .3rem 0;
	border-top: .05rem solid #b8b8b8;
}

.cart {
	background-color: transparent;
	border: none;
}

.cart:focus {
	outline: none;
}

.cart,
.close {
	cursor: pointer;
}

.title {
	color: #7f7f7f;
	padding: 0 1rem;
	border-bottom: .1rem solid #7f7f7f;
}

.title h2 {
	font-size: 1rem;
}

#content .subtitle {
	padding: .5rem 1rem .5rem 0;
}

#content .subtitle h5 {
	color: #b8b8b8;
	font-size: .7rem;
}

.subtotal {
	padding: .5rem 0 .5rem 0;
	border-bottom: .05rem solid #f0f0f0;
}

.total {
	padding: 1rem 0 .5rem 0;
}

#content h5 {
	color: #383838;
	font-size: .8rem;
}

.cart-items {
	display: block;
	position: absolute;
	background-color: #fff;
	width: 450%;
	padding: .2rem 1rem;
	right: 0;
	top: 3rem;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	z-index: 12;
}

.cart-hide {
	display: none;
}

.cart-items img {
	width: 4rem;
	height: 4rem;
}

.item {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem .3rem 0;
	border-bottom: .05rem solid #f0f0f0;
}

.item h3 {
	font-size: .8rem;
}

.description {
	font-size: .7rem;
	display: flex;
	flex-direction: column;
}

.description span {
	padding: .1rem 0;
}

.square-ui {
	color: #000;
	padding: .2rem .3rem;
	background-color: #f0f0f0;
	border: .2rem solid #f0f0f0;
}

.square-num {
	padding: .2rem .3rem!important;
	background-color: transparent;
	border: .2rem solid #f0f0f0;
}

.square-ui:focus {
	outline: none;
}

.CEP {
	padding: .4rem 0;
	height: 1.8rem;
	border-bottom: .05rem solid #f0f0f0;
}

.CEP input {
	width: 9.2rem;
}

.CEP button {
	background-color: #fff;
	border: .2rem solid #b8b8b8;
}

.CEP button:focus {
	outline: 0;
}

.back-buy {
	font-size: .8rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-decoration: underline;
}


/* FLEX */

#header .container,
#content .subtitle,
.total,
.subtotal,
.title,
.footer-cart,
.CEP {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* CONTENT */

#content {
	max-width: 340px;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	padding: .3rem 0;
	border-top: .05rem solid #b8b8b8;
}

.item-info {
	text-align: center;
}

.item-info h3 {
	margin: .3rem 0 .3rem 0;
}

.item-info h4 {
	font-size: 1rem;
	margin: 1.5rem 0 2rem 0;
	color: #a1a1a1;
	font-weight: lighter;
}

.item-card {
	font-size: .8rem;
	margin: .5rem 0 2rem 0;
}

.banners {
	padding: 1rem 0;
}

.btn {
	background-color: #ffa200;
	color: #fff;
	padding: .8rem 1.2rem;
	border: none;
	transition: ease-in-out 0.3s;
	width: 91%;
}

.btn:hover {
	background-color: #ffbe4e;
}

.btn:focus {
	border: none;
	outline: none;
	background-color: #ad6e00;
}

.submit {
	padding: .5rem 1rem;
}

.quickbuy {
	padding: .8rem 1rem;
}

.col-4 a {
	position: relative;
}

.col p {
	margin: 0;
	color: #8a8a8a;
	font-size: 0.875rem;
}

.col p:last-child {
	margin: .15rem .15rem;
}

.col ul li a {
	text-decoration: none;
	font-size: .75rem;
	color: #8a8a8a;
}

.col-3:nth-child(2) {
	padding: 0 calc(2.5rem / 3);
}

.stamps {
	font-size: .8rem;
	position: absolute;
	color: #fff;
	padding: .5rem .8rem;
	background-color: #8158c5;
	z-index: 8;
}


/* FIXED BOTTOMS */

#info {
	margin-bottom: 1rem;
}

#info img {
	margin-top: -0.625rem;
	margin-left: -0.625rem;
	margin-bottom: 0.625rem;
}

#info a:nth-child(2) {
	margin: 0 .7rem 0 .7rem;
}

#fixed-bottoms {
	position: fixed;
	display: grid;
	right: 0.625rem;
	bottom: 0.625rem;
}


/* MORE ITEMS*/

.more-items {
	width: 100%;
	text-align: center;
	margin: 40px 0;
}


/* FOOTER */

#footer a,
li p,
h5 {
	font-size: 1rem;
	margin-bottom: 2rem;
}

#footer ul li {
	margin: .4rem 0;
}

#footer ul li p {
	margin: .4rem 0;
	font-size: 1rem;
}

#footer .col ul {
	margin: 0;
}

#footer .container #info {
	text-align: center;
}

#footer .container {
	border-bottom: .15rem solid #ccc;
}

#newsletter {
	background-color: #8158c5;
	height: 18.5rem;
	padding: .9rem 0;
	margin: 3rem 0;
	text-align: center;
}

#newsletter .container .guide {
	padding-bottom: 1rem;
	border-bottom: .17rem solid #ffa200;
}

#newsletter .container .guide span {
	color: #fff;
	font-size: 15px;
	padding: 0 .5rem;
}

#newsletter .container .col-3 {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

#newsletter h2 {
	color: #fff;
}

.news-input {
	color: #fff;
	background-color: transparent;
	font-size: 0.9rem;
	width: 10rem;
	height: 2rem;
	margin: 2rem 0.4rem;
	border: none;
	border-bottom: 0.1rem solid #fff;
}

.news-input:focus {
	outline: none;
}

.news-input::placeholder {
	color: #fff;
}

.news-input[type="email" i] {
	width: 16rem;
}

.footer-logo {
	margin-bottom: 2rem;
}

.social-media {
	background: #7f7f7f;
	border-radius: 50%;
	height: 1.875rem;
	width: 1.875rem;
	margin-right: .6rem;
	transition: ease-in-out 0.3s;
}

.social-media:hover {
	background-color: #ffa200;
}

.bg-blue {
	padding: .3rem .1rem;
	background-color: rgb(57, 125, 228);
}

#dev-logos .container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .6rem 0;
	width: 60%;
}

#dev-logos p {
	color: #8a8a8a;
}

.Serie {
	margin: 0 1.2rem;
}


/* DESKTOP */

@media (min-width: 1168px) {
	.desktop {
		display: block!important;
	}
	.mobile {
		display: none!important;
	}
	#btn-quickbuy {
		display: none;
	}
	.spot:hover #btn-quickbuy {
		display: block;
		width: 70%;
		padding: 15px 15px;
		position: absolute;
		top: 45%;
		left: 15%;
		background: orange;
		border: 0;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
	}
	.col-4 a {
		display: block;
	}
	.spot:hover a::before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: #8258c580;
	}
	.dropdown {
		display: none;
		position: absolute;
		background-color: #fff;
		top: 2.8rem;
		width: 15rem;
		padding: 0;
		float: left;
		z-index: 10;
	}
	ul.dropdown a {
		color: #000;
		transition: ease-in-out 0.25s;
		width: 100%;
		display: inline-block;
		padding: 0.8rem;
	}
	ul.dropdown a:hover {
		color: #fff!important;
	}
	ul.dropdown li {
		padding: 0;
		transition: ease-in-out 0.25s;
	}
	ul.dropdown li:hover {
		color: #fff;
		background-color: #7f7f7f;
	}
	.sub-dropdown {
		display: none;
		position: absolute;
		top: 0;
		left: 15rem;
		width: 16rem;
		background-color: #fff;
		z-index: 11;
	}
	.container .col-4 {
		display: inline-grid;
	}
	.container .col-4 img {
		width: calc(1100px / 4);
		padding: 0 .2rem;
		transition: ease-in-out 0.5s;
	}
	#btn-mobile {
		display: none;
	}
	#footer .container {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}
}


/* MOBILE */

@media (max-width: 768px) {
	.desktop {
		display: none!important;
	}
	.mobile {
		display: block!important;
	}
	.container {
		max-width: 100%;
	}
	.container .col {
		text-align: center;
	}
	#btn-quickbuy {
		display: none;
	}
	#header .menu {
		top: -1rem;
		display: block;
	}
	#header .menu ul {
		background-color: #8158c5;
		list-style: none;
		color: #fff;
		margin: 0;
	}
	#header .menu ul li {
		width: 100%;
		border-bottom: .05rem solid #583a88;
	}
	#header .menu ul li a {
		padding: 1rem;
		color: #fff;
		text-decoration: none;
		width: 100%;
		display: inline-block;
		padding: 0.8rem;
	}
	.dropoff {
		display: none!important;
	}
	#header .menu ul.dropdown {
		display: block;
		background-color: #583a88;
		list-style: none;
		color: #fff;
		width: 100%;
		top: 15.3rem;
		left: 0;
	}
	#header .menu ul.dropdown li {
		width: 100%;
		border-bottom: .05rem solid #33224e;
	}
	#header .menu ul.dropdown li a {
		padding-left: 1rem;
	}
	#header .menu ul.sub-dropdown {
		display: block;
		background-color: #33224e;
		list-style: none;
		color: #fff;
		width: 100%;
		top: 15.3rem;
		left: 0;
	}
	#header .menu ul.sub-dropdown li {
		width: 100%;
		border-bottom: .05rem solid #1d132c;
	}
	#header .menu ul.sub-dropdown li a {
		padding-left: 1rem;
	}
	#header .login-reg ul {
		background-color: #8158c5;
		list-style: none;
		color: #fff;
		margin: 0;
	}
	#header .login-reg ul li {
		width: 100%;
		padding: 1rem;
		border-bottom: .05rem solid #583a88;
	}
	#header .login-reg ul li a {
		padding: 1rem;
		color: #fff;
		text-decoration: none;
	}
	#search-input {
		background-color: #8158c5;
		width: 100%;
		height: 2rem;
		padding: .6rem;
		margin: 0;
	}
	.mobile-input {
		padding: .6rem;
		background-color: #9465df;
		border: none;
		border-radius: 5px;
		color: #fff;
		width: 90%;
	}
	.mobile-input::placeholder {
		color: #fff;
	}
	.cart-items {
		display: block;
		position: absolute;
		background-color: #fff;
		padding: 0;
		width: 100%;
		right: 0;
		left: 0;
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
		z-index: 12;
	}
	#carousel {
		height: 19rem;
		padding-top: 8.8rem;
	}
	#carousel img {
		width: 100%;
		height: 19rem;
		object-fit: cover;
		object-position: -30rem;
	}
	.col-3:nth-child(2) {
		padding: initial;
	}
	.submit-search {
		padding: 0;
	}
	#quick-menu img {
		width: 100%;
	}
	.banners img {
		width: 100%;
	}
	#footer .container {
		display: grid;
		text-align: center;
		align-content: center;
	}
	#footer h5 {
		margin: 1.5rem 0;
	}
	#newsletter {
		height: unset;
	}
	#inputs {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#inputs .news-input {
		margin: 1rem;
		width: 87%;
	}
	#inputs .news-input button {
		width: 70%;
	}
	/* SPOT */
	.stamps{
		margin-top: 3rem;
		margin-left: 1rem;
	}
	.spot img {
		margin-top: 1rem;
		width: 100%;
	}
}

.middle a img {
	align-items: center;
}

.middle {
	display: grid;
	justify-content: center;
	background-color: #fff;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	padding: .8rem;
}

.topbar {
	background-color: #8158c5;
	padding: .4rem;
}

.topbar ul {
	margin: 0;
	display: flex;
	padding: .1rem;
}

.topbar li.search {
	margin-left: auto;
}

.topbar li.icon {
	margin-right: 10px;
}

.topbar li.icon img {
	filter: brightness(0) invert(1);
}

.mobile {
	position: fixed;
	width: 100%;
	z-index: 10;
}


/* TABLET */

@media (min-width: 768px) and (max-width: 1168px) {
	.desktop {
		display: none!important;
	}
	.mobile {
		display: block!important;
	}
	.container {
		width: 900px;
	}
	.container .col {
		text-align: center;
	}
	#btn-quickbuy {
		display: none;
	}
	#header .menu {
		top: -1rem;
		display: block;
	}
	#header .menu ul {
		background-color: #8158c5;
		list-style: none;
		color: #fff;
		margin: 0;
	}
	#header .menu ul li {
		width: 100%;
		padding: 1rem 0;
		border-bottom: .05rem solid #583a88;
	}
	#header .menu ul li a {
		padding: 1rem;
		color: #fff;
		text-decoration: none;
	}
	.dropoff {
		display: none!important;
	}
	#header .menu ul.dropdown {
		display: block;
		background-color: #583a88;
		list-style: none;
		color: #fff;
		width: 100%;
		top: 15.3rem;
		left: 0;
		margin-top: 1rem;
	}
	#header .menu ul.dropdown li {
		width: 100%;
		border-bottom: .05rem solid #33224e;
	}
	#header .menu ul.dropdown li a {
		padding-left: 1rem;
	}
	#header .menu ul.sub-dropdown {
		display: block;
		background-color: #33224e;
		list-style: none;
		color: #fff;
		width: 100%;
		top: 15.3rem;
		left: 0;
		margin-top: 1rem;
	}
	#header .menu ul.sub-dropdown li {
		width: 100%;
		border-bottom: .05rem solid #1d132c;
	}
	#header .menu ul.sub-dropdown li a {
		padding-left: 1rem;
	}
	#header .login-reg ul {
		background-color: #8158c5;
		list-style: none;
		color: #fff;
		margin: 0;
	}
	#header .login-reg ul li {
		width: 100%;
		padding: 1rem;
		border-bottom: .05rem solid #583a88;
	}
	#header .login-reg ul li a {
		padding: 1rem;
		color: #fff;
		text-decoration: none;
	}
	#search-input {
		background-color: #8158c5;
		width: 100%;
		height: 2rem;
		padding: .6rem;
		margin: 0;
	}
	.mobile-input {
		padding: .6rem;
		background-color: #9465df;
		border: none;
		border-radius: 5px;
		color: #fff;
		width: 90%;
	}
	.mobile-input::placeholder {
		color: #fff;
	}
	.cart-items {
		display: block;
		position: absolute;
		background-color: #fff;
		width: 50%;
		right: 0;
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
		z-index: 12;
	}
	#carousel {
		height: 19rem;
		padding-top: 8.8rem;
	}
	#carousel img {
		width: 100%;
		height: 19rem;
		object-fit: cover;
		object-position: -30rem;
	}
	.col-3:nth-child(2) {
		padding: initial;
	}
	.submit-search {
		padding: 0;
	}
	#quick-menu img {
		width: 100%;
	}
	#newsletter {
		height: unset;
	}
	#inputs .news-input {
		margin: 1rem;
	}
	#inputs .news-input button {
		width: 70%;
	}
	#quick-menu .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.banners img {
		width: 49.7%;
	}
	.stamps{
		margin-left: 1.25rem;
	}
	/* SPOT */
	.spot img {
		margin-top: 1rem;
		width: 100%;
	}
	.col-4 a {
		display: grid;
	}
	#products .spot {
		display: inline-block;
		padding: 1rem 0;
		width: 49.5%;
	}
	#products img {
		width: calc(768px / 2);
		padding: 0 3rem;
		transition: ease-in-out 0.5s;
	}
	#content {
		max-width: 450px;
	}
	.item-info h4 {
		margin: 0 0 .5rem 0;
	}
	.item-card {
		margin: 0 0 .4rem 0;
	}
	@media (max-width: 1168px) {
		.container .col-4 img {
			width: calc(639.3px / 2);
			padding: 0 4rem;
			transition: ease-in-out 0.5s;
		}
	}
}


/*************************************************************************/